    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>ABOUT ME</h2>
              <br/>
                  
                 <h3><a href="https://www.tiliatranslations.it/">Leggi la versione italiana</a> · <a href="https://angelatiliatranslations.github.io/wersjapolska/">Czytaj wersję polską</a></h3>
                <br>
                <br>
                <h4>
<em>“I build bridges that connect English and Polish with Italian.”</em>
</h4>
                <br>
                <br>
<br>
                <p>
                    Something that has always resonated with me is the idea that translation is like erecting a strong, easily traversed bridge between different languages and cultures. Building a good bridge requires care and technical ability, not to mention a dose of artistic flair. These three things are the cornerstones of my business, helping me build bridges that connect English and Polish with Italian.
                </p>
                 <br>
                <p>
                    When, along with a group of colleagues, I published my first interview with a young, emerging artist, I knew that an excellent translation was essential if their ideas were to reach a wider audience. I therefore took charge of revising the translation, to ensure that every last nuance was conveyed and that the artist’s authentic words could be read by people who otherwise would have missed out. And that is precisely what happened.
                </p>
                 <br>
                <p>
                    I have been helping individuals and organisations convey their words and ideas to a public that speaks a different language since 2019. Combining analysis, accuracy and wordsmithery, I translate texts from Polish and English into Italian, localise websites for the Italian market, revise translations and proofread texts written in Italian, including academic articles, and transcribe audio and video materials into Italian.
                <p>
                    My working languages are Polish, English and, of course, Italian, my mother tongue; I specialise in texts on the arts, craft production and sustainability.
                </p>
                 <br>
                <p>
                    I hold two degrees from Ca' Foscari University of Venice: a master’s degree in European, American and postcolonial languages and literatures and a bachelor’s degree in language, civilisation and the science of language.
                </p>
                 <br>
                <p>
                    The wonderful people I have worked with over the years and my language and literature studies have taught me to prioritise quality over quantity, and this is the approach I adopt in my work. My clients have come back with new commissions, saying ‘Thank you for your excellent work. It is a pleasure to be working with you again.’
                </p>
<p>
Whether you are an organisation, a business or an individual, if you think I can help you, just send me an email with your request. Your precious words will be in safe hands – I look forward to reading them and getting to work! 
</p>
                 <br>
             
               
                             
       
                <br/>
                <div align='center'>
                    <img src="./img/about me.jpg" alt="Angela">
                </div>
                <br>
                
                
                <br> 

<h4>OVERVIEW</h4>
<br>

<p>
<strong>Native language: </strong><em>Italian (Italy)</em>
</p>
<p>
<strong>Language pairs: </strong><em>English>Italian, Polish>Italian</em>
</p>
<p>
<strong>Specialties: </strong><em>arts, craft production, sustainability, advertisement, marketing, fashion</em>
</p>
<p>
<strong>Certifications:</strong> <em><a href="https://cfcdn.proz.com/certificates/pro/pro_certificate_2997713.jpg">ProZ.com Certified PRO Translator</a></em>
</p>
                <br>
                <h4>PUBLICATIONS</h4>
                <br>
<p>
                <a href="https://brooklynrail.org/contributor/ANGELA-BRISOTTO">Contributor to The Brooklyn Rail</a>
</p>
             
                <p>
                    <a href="https://brooklynrail.org/2021/07/art/Giuseppe-Penone-with-Francesca-Pietropaolo-and-Alexis-Dahan">Translations for The Brooklyn Rail</a>
                </p>
                
                <br>
                <h4>EVENTS</h4>
                <br>
<p>
December 2021: <a href="https://www.proz.com/powwow/7369">Un tè tra traduttori. Edizione delle feste</a>
</p>
<p>
October 2021: <a href="https://www.proz.com/powwow/7357">Un tè tra traduttori</a>
</p>
                <br/>
               
              </div>
        </div>
       
    </section>


